@{
    ViewBag.Title = "Harvest Festival";
}

<h2>@DateTime.Now.Year @ViewBag.Title</h2>
<h3>
    October @ViewBag.Dates @DateTime.Now.Year<br />
    @ViewBag.Times
</h3>

<p>
    <ul>
        <li>Pumpkin Contest! (all ages welcome)</li>
        <li>Youth Apple Pie Baking Contest</li>
        <li>Free Make-It Take-It crafts for the kids</li>
        <li>Produce, and Crafts</li>
        <li>Demonstrations</li>
        <li><a href="~/Documents/KKPlayDay.pdf">Kolts & Kitties In-Hand Horse Show</a></li>
        <li>Breakfast served 9:00 AM to Noon</li>
        <li>Ice Cream Social at 1:00 PM</li>
    </ul>
</p>
