@{
    ViewBag.Title = "Holiday Bazaar";
}
<h2>@DateTime.Now.Year @ViewBag.Title</h2>
<h3>December @ViewBag.Dates @DateTime.Now.Year<br />
    @ViewBag.Times </h3>

<p>Two buildings full of items for sale from 40+ Local crafters! <br />
    Free Make-It Take-It crafts for kids!</p>
