<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lacamas Community Fair</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</head>
<body>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Lacamas Fair", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Fair<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li style="list-style-type:none">@Html.ActionLink("Fairbook", "Fairbook", "Fair")</li>
                            <li style="list-style-type:none">@Html.ActionLink("How to Enter", "EntryForms", "Fair")</li>
                            <li style="list-style-type:none">@Html.ActionLink("History", "History", "Fair")</li>
                            <li style="list-style-type:none">@Html.ActionLink("Purpose", "Purpose", "Fair")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community Center<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li style="list-style-type:none">@Html.ActionLink("Bingo", "Bingo", "CommunityCenter")</li>
                            <li style="list-style-type:none">@Html.ActionLink("Community Club", "CommunityClub", "CommunityCenter")</li>
                            <li style="list-style-type:none">@Html.ActionLink("Facility Rental", "FacilityRental", "CommunityCenter")</li>
                            <li style="list-style-type:none">@Html.ActionLink("Harvest Fest", "HarvestFest", "CommunityCenter")</li>
                            <li style="list-style-type:none">@Html.ActionLink("Holiday Bazaar", "HolidayBazaar", "CommunityCenter")</li>
                        </ul>
                    </li>


                    <li>@Html.ActionLink("Directions", "Directions", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("Contacts", "Contacts", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <h5 class="text-center">
                Lacamas Community Center<br />
                32113 8th Avenue South<br />
                Roy, WA 98580
            </h5>
            <p><bold style="font-weight:900">In operation since 1929</bold></p>
            <div class="fb-like" style="width:220px; text-align:center" data-href="https://www.facebook.com/Lacamas-Community-Fair-227437937409797/?tn-str=k*F" data-width=""
                 data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>
